body {
    margin: 20%;
    text-align: center;
    border: 2px solid black;
    padding-bottom: 10%;
}

#js-btn {
    margin-top: 10%;
    background-color: aquamarine;
}

button {
    font-size: 1.125rem;
    background-color: rgb(127, 157, 255);
}